<div class="header">
  <div class="name-container">
    <div class="name-line">
    <h1 class="name">Ganidhu Abey</h1>
    <div class="contact">
      <p>ganidhu.abey@gmail.com</p>
    </div>
    </div>
    <div class="social-icons">
      <a href="https://github.com/GanidhuAbey" target="_blank">
        <img src="https://ganidhuabey.github.io/assets/icons/github.svg" alt="GitHub">
      </a>
      <a href="https://www.linkedin.com/in/ganidhu-abey/" target="_blank">
        <img src="https://ganidhuabey.github.io/assets/icons/linkedin.svg" alt="LinkedIn">
      </a>
    </div>
  </div>
</div>
